<div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>A personalised education and support structure for learning excellence</h1>
        </div>
        <img src="img/banner.png" class="banner-img">
    </div>
    <section class="light-grey">
        <div class="container">
            <div class="row thumb-top">
                <div class="col-md-4 col-sm-12">
                    <div class="thumb blue" data-toggle="tooltip" data-placement="top" title="Hooray!">
                        <hr>
                        <h2>Support Academic Excellence</h2>
                        <p>Support the LFS establishment project in achieving school projects! </p>
                    </div>
                    <div class="thumb-border"></div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="thumb gold">
                        <hr>
                        <h2>Accompany evolution of the institution</h2>
                        <p>Accompany the large-scale evolution projects of the LFS! </p>
                    </div>
                    <div class="thumb-border"></div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="thumb red">
                        <hr>
                        <h2>Reinforce our social<br> role</h2>
                        <p>Help us integrate all students into the LFS community, including the children from disadvantaged backgrounds!</p>
                    </div>
                    <div class="thumb-border"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="axis-col">PHILANTROPHIC<br> AXIS</h2>
                </div>
                <div class="col-md-8">
                      <h2 style="color:#6D6D6D;">
                        In line with our objectives, several funding envelopes are at your
                        disposal for your contribution through the program of your choice
                      </h2>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div id="science_hover" class="learn_bg fl">
                <h4>In life, nothing is to be feared,
everything is to be understood.
Marie Curie</h4>
                <p>By transforming mystery into challenge, science adds a new dimension to life. And a new dimension opens several paths to self-fulfillment.
                    <br>
                    <br> Science and technology also aim to develop interest in scientific and technical progress. This is why our educational schemes are aligned with an investigative approach that fosters curiosity and creativity.
                </p>
            </div>
            <div id="art_hover" class="network_bg fl">
                <h4>It is not in the object that lies the
meaning of things, but in the
process. Saint-Exupéry</h4>
                <p>Art undoubtedly occupies a special place in the heart of contemporary society, in which the relation to art pieces and creation is transformed by the development of media.
                    <br>
                    <br> Spectators, creators or interpreters, all of our students are encouraged to develop an ability to give meaning to art and to perceive in it human, social and economic challenges, in order to open up to others.</p>
            </div>
            <div id="lit_hover" class="achieve_bg fl">
                <h4>What are books good for, if they
don’t make us feel alive, if they 
can’t make us live it more intensely? 
Henry Miller</h4>
                <p>Beyond a concept of reading and besides contributing to the acquisition of language proficiency, literature also engages the student’s vision.
                    <br>
                    <br> We are convinced that literature opens the mind, raises awareness to humanity, helps to see with the heart and is essential to any kind of responsible political life in the current context of globalization.</p>
            </div>
            <div id="sport_hover" class="achieve_bg fl">
                <h4>Sport seeks out fear to dominate it, 
exhaustion to triumph over it, 
difficulty to overcome it.
Pierre de Coubertin</h4>
                <p>Physical education allows students to develop a sense of effort, risk-taking and perseverance. By putting into action moral and social core values, such as respect for collective rules or respect for self and others, it provides a favorable context for teaching responsibility and autonomy.
                    <br>
                    <br> This is why our sports teams continue to radiate the image of our institution in different environments and countries!</p>
            </div>
            <div id="community_hover" class="achieve_bg fl">
                <h4>Real generosity towards the
future lies in giving all to the 
present.
Albert Camus</h4>
                <p>Each year, we welcome in the Lycée several children from families in financial difficulty, who are sometimes subsidized bythe French state, primarily for school fees. We set aside a social envelope for disadvantaged students to help them to continue to attend school and various additional educational projects, such assports trips.
                    <br>
                    <br> Fully respecting our equal opportunity policy, our social envelope is the embodiment of our commitment to deliver excellence for all.</p>
            </div>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-12 tab-area tabs-hover">
                    <span class="tab-link" tabindex="1" id="science"><img src="img/science.png"><h2>SCIENCE</h2></span>
                    <span class="tab-link" tabindex="2" id="art"><img src="img/art-1.png"> <h2>ART</h2></span>
                    <span class="tab-link" tabindex="3" id="lit"><img src="img/lite.png"> <h2>LITERATURE</h2></span>
                    <span class="tab-link" tabindex="4" id="sport"><img src="img/sport.png"> <h2>SPORTS</h2></span>
                    <span class="tab-link" tabindex="5" id="community"><img src="img/community.png"> <h2>COMMUNITY</h2></span>
                </div>
            </div>
    </section>
    <section class="programs">
        <div class="container first">
            <div class="row">
                <div class="col-md-4">
                    <h2>PROGRAMS</h2>
                </div>
                <div class="col-md-8">
                    <h2>Commit yourself today in favor of education by signing on to one of our programs</h2>
                </div>
            </div>
        </div>
        <hr>
        <div class="container second">
            <div class="row">
                <div class="col-md-4">
                    <h2>DIRECT DONATION</h2>
                </div>
                <div class="col-md-8">
                    <h2>Make a gift, simply<br>By cheque, wiring or on-line</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>NAMING</h2>
                </div>
                <div class="col-md-8">
                    <h2>Name an architectural element of the campus<br>
      Already existing or to-be-built elements</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>SPONSORING</h2>
                </div>
                <div class="col-md-8">
                    <h2>Sponsor school events, LFS sporting teams<br>
Associate you with the values of our institution</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>MATCHING GIFTS</h2>
                </div>
                <div class="col-md-8">
                    <h2>Double the funds donated by your employees<br>
Give more weight to their contributions</h2>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container investment-graph">
            <h2>WE WILL STUDY ALL POSSIBILITIES WITH YOU FOR A RETURN ON YOUR INVESTMENT </h2>
            <img src="img/investment-graph.svg">
        </div>
    </section>
    <section class="fundrising">
        <div class="container">
            <h3>LFS CODE OF ETHICS FOR FUNDRAISING</h3>
            <div class="funding-border">
                <div class="funding-box">
                    <img src="img/funding-font.svg">
                    <h1>HONESTY – RESPECT – INTEGRITY</h1>
                    <h2>Ensure public confidence</h2>
                    <h1>EMPATHY</h1>
                    <h2>Worrying about the interests and well being of others</h2>
                    <h1>TRANSPARENCY</h1>
                    <h2>Inform clearly and precisely</h2>
                </div>
            </div>
            <button class="btn btn-primary btn-outline btn-xl" href="#" role="button">Download Brochure</button>
        </div>
    </section>
    
</div>
    <script type="text/javascript">

      jQuery(document).ready(function(cash) { 
          $("#science_hover").hide();
          $("#art_hover").hide();
          $("#lit_hover").hide();
          $("#sport_hover").hide();
          $("#community_hover").hide();
       
       $( "#science" ).mouseover(function() {

          $("#science_hover").show();
          $("#art_hover").hide();
          $("#lit_hover").hide();
          $("#sport_hover").hide();
          $("#community_hover").hide();


       });

       $( "#community" ).mouseover(function() {

          $("#science_hover").hide();
          $("#art_hover").hide();
          $("#lit_hover").hide();
          $("#sport_hover").hide();
          $("#community_hover").show();


       });
       $( "#art").mouseover(function() {

          $("#science_hover").hide();
          $("#art_hover").show();
          $("#lit_hover").hide();
          $("#sport_hover").hide();
          $("#community_hover").hide();


       });
       $( "#lit" ).mouseover(function() {

          $("#science_hover").hide();
          $("#art_hover").hide();
          $("#lit_hover").show();
          $("#sport_hover").hide();
          $("#community_hover").hide();


       });
       $( "#sport" ).mouseover(function() {

          $("#science_hover").hide();
          $("#art_hover").hide();
          $("#lit_hover").hide();
          $("#sport_hover").show();
          $("#community_hover").hide();


       });
       
       
         });
    </script>