/*body {
  padding-top: 90px;
}*/
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
}
.panel-login>.panel-heading a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active {
  color: #029f5b;
  font-size: 18px;
}
.panel-login>.panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}
.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover, .panel-login input:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover, .btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover, .forgot-password:focus {
  text-decoration: underline;
  color: #666;
}
.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}
.btn-register:hover, .btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 250px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
.error_msg{
  color: maroon;
}
.modal-header .close {
    margin-top: -25px;
    margin-right: -25px;
    background: #101010;
    opacity: 1;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 2px solid #fff;
    outline: none;
    box-shadow: -1px 0px 16px rgba(0, 0, 0, 0.49);
    border-color: #ffffff;
}

.modal-header .close img {
    width: 11px;
    margin-top: -4px;
}

.jumbotron .container{
    position: relative;
}
.navbar-inverse {
    background-color: #292929;
    border-color: #292929;
    min-height: 40px;
    height: 40px;
}
.navbar-inverse .navbar-nav>li>a {
    padding-top: 10px;
    font-weight: 500;
    color: #348DE3;
}
.navbar-inverse .navbar-right.nav>li>a {
    color: #9B9B9B;
}
.navbar-inverse .navbar-right.nav>li>a.active{
  color: #fff;
}
.navbar-inverse .navbar-nav {
    margin-left: -15px;
}
.navbar-inverse .nav>li>a>img {
    max-width: none;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    top: 40px;
    height: 120px;
    border-bottom: solid 1px #e5e5e5;
    box-shadow: 0 0 20px #494949;
}
.navbar-default .navbar-brand {   
    padding: 10px 15px;
}
.navbar-default .navbar-right{
  margin-top: 35px;
  margin-right: 0;
}
.navbar-default .navbar-nav>li>a{
  padding: 10px 20px;
}
.navbar-default .navbar-right .btn-primary{
    margin-top: 5px;
    margin-left: 20px;
    color: #fff;
    padding-top: 13px;
    background: #2b72b6;
    border:none;
}
.file-upload-box {
    width: 360px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #595959;
    overflow: hidden;
}

div.upload input {
    opacity: 0 !important;
    overflow: hidden !important;
    height: 39px !important;
    width: 95px !important;
    font-size: 16px;
    font-weight: 600;
    color: #595959;
    opacity: 0;
    margin-top: -30px;
    margin-left: -20px;
}
