<form name="subcategorytwoForm" id="subcategorytwoFrm" data-ng-controller="categoryController" data-ng-submit="addupdatesubCategoryTwo(subcategorytwoForm)" novalidate>
    <h1 style=" text-align: center;">SUB CATEGORY2</h1>
    <div class="container" style="width: 100%;">
        <br/>
        <span class="btn btn-primary" ng-click="custom=!custom">
            <i class="glyphicon glyphicon-plus"></i>
            Add Sub Category2
        </span>
        <br/>
        <br/>
        <div ng-show="custom">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <select class="form-control" ng-change="subcategory(sub_categorytwo.category_id)" name="categories" ng-model="sub_categorytwo.category_id" ng-options="category.category_id as category.category_name for category in categoryList" required>
                        <option value="" disabled>Select Category</option>
                    </select>
                    <div class="" ng-messages="subcategorytwoForm.$submitted && subcategorytwoForm.categories.$error" role="alert">
                        <div class="text-danger" style="text-align: center;" ng-message="required">
                            Select Category</div>
                    </div>
                </div>{{sub_category_id}}
                 <div class="form-group">
                    <select class="form-control" name="subcategories" ng-model="sub_categorytwo.sub_category_id" ng-options="subcategory.sub_category_id as subcategory.sub_category_name for subcategory in subcategory2" required>
                        <option value="" disabled>Select Sub Category</option>
                    </select>
                    <div class="" ng-messages="subcategorytwoForm.$submitted && subcategorytwoForm.subcategories.$error" role="alert">
                        <div class="text-danger" style="text-align: center;" ng-message="required">
                            Select Sub Category</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="sub_category_name" ng-model="sub_categorytwo.sub_category_two_name" tabindex="1" class="form-control" placeholder="Sub Category Name" required>
                    <div class="" ng-messages="subcategorytwoForm.$submitted && subcategorytwoForm.sub_category_two_name.$error" role="alert">
                        <div class="text-danger" style="text-align: center;" ng-message="required">
                            Enter Sub Category2 Name</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="textarea" name="sub_category_description" ng-model="sub_categorytwo.sub_category_two_description" tabindex="2" class="form-control" placeholder="Sub Category Description" required>
                    <div class="" ng-messages="subcategorytwoForm.$submitted && subcategorytwoForm.sub_category_two_description.$error" role="alert">
                        <div class="text-danger" style="text-align: center;" ng-message="required">
                            Enter Sub Category2 Description</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="" ng-if="sub_categorytwo.sub_catagory_two_id == 0">
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn-primary" value="Save">
                    </div>
                    <div class="" ng-if="sub_categorytwo.sub_catagory_two_id > 0">
                        <input type="submit" name="category-update" id="category-update" tabindex="4" class="form-control btn-primary" value="Update">
                        <br>
                        <input type="button" ng-click="resetsubCategorytwo()" name="category-cancel" id="category-cancel" tabindex="4" class="form-control btn-primary" value="Cancel">
                    </div>
                    <br>
                    <br>
                    <div ng-model="subcategorySuccessmsg" ng-show="showsubcategorySuccessmsg" class="alert alert-success">{{subcategorySuccessmsg}}</div>
                    <div ng-model="subcategoryErrorsmsg" ng-show="showsubcategoryErrormsg" class="alert alert-danger">{{subcategoryErrormsg}}</div>
                </div>
            </div>
        </div>
        <br/>
        <table id="table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Sub Category</th>
                    <th style="width: 90px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subcategorytwo in subcategorytwolist">
                    <th>{{subcategorytwo.sub_cat_two_name}}</th>
                    <th>{{subcategorytwo.sub_cat_two_description}}</th>
                    <th>{{subcategorytwo.sub_category_name}}
                    </th>
                    <th>
                        <span>
                            <i class="glyphicon glyphicon-pencil" style="cursor:pointer" ng-click="editsubCategorytwo(subcategorytwo)"></i>&nbsp&nbsp&nbsp&nbsp&nbsp
                            <i class="glyphicon glyphicon-trash" style="cursor:pointer" ng-click="deletesubcategorytwo(subcategorytwo,index)"></i>
                        </span>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</form>
