<div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <img src="img/download-banner.png" class="img-responsive" style="margin: 0 auto;">
        </div>
    </div>
    <section class="donors">
        <div class="container">
            <h2>BROCHURE</h2>
            <div class="row bank" style="margin: 45px 0px 20px;">
                <div class="col-md-6" align="center">
                    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/1MJw9X3ejKr8US" width="100%" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="max-width: 100%;margin-right:25px;" allowfullscreen> </iframe>
                </div>
                <div class="col-md-6">
                    <h2>Brochure Fundraising du LFS</h2>

                    <div class="col-md-6" style="padding:0px;">
                         <span style="font-size: 12px;">English</span>
                        <div style="margin-bottom: 30px;">
                            <img src="img/pdf.png" style="height:50px;float:left;">
                            <a class="btn btn-danger btn-lg download-now" style="padding: 5px 25px;    margin-top: 5px;font-size: 18px;height: 33px;" href="{{pdfURL}}/Charte_du_fundraising_LFS_FR.pdf" target="_blank" download="Charte_du_fundraising_LFS_FR.pdf">Download</a>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding:0px;">
                        <span style="font-size: 12px;">French</span>
                        <div style="margin-bottom:30px;">
                            <img src="img/pdf.png" style="height:50px;float:left;">
                            <a class="btn btn-danger btn-lg download-now" style="padding: 5px 25px;    margin-top: 5px;font-size: 18px;height: 33px;" href="{{pdfURL}}/Charte_du_fundraising_LFS_FR.pdf" target="_blank" download="Charte_du_fundraising_LFS_FR.pdf">Download</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bank" style="margin: 10px 0px;">
                <div class="col-md-6" align="center">
                    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/1MJw9X3ejKr8US" width="100%" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="max-width: 100%;margin-right:25px;" allowfullscreen> </iframe>
                </div>
                 <div class="col-md-6">
                    <h2>Code de Déontologie pour la collecte de fonds</h2>

                    <div class="col-md-6" style="padding:0px;">
                         <span style="font-size: 12px;">English</span>
                        <div style="margin-bottom: 30px;">
                            <img src="img/pdf.png" style="height:50px;float:left;">
                            <a class="btn btn-danger btn-lg download-now" style="padding: 5px 25px;    margin-top: 5px;font-size: 18px;height: 33px;" href="{{pdfURL}}/Charte_du_fundraising_LFS_FR.pdf" target="_blank" download="Charte_du_fundraising_LFS_FR.pdf">Download</a>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding:0px;">
                        <span style="font-size: 12px;">French</span>
                        <div style="margin-bottom:30px;">
                            <img src="img/pdf.png" style="height:50px;float:left;">
                            <a class="btn btn-danger btn-lg download-now" style="padding: 5px 25px;    margin-top: 5px;font-size: 18px;height: 33px;" href="{{pdfURL}}/Charte_du_fundraising_LFS_FR.pdf" target="_blank" download="Charte_du_fundraising_LFS_FR.pdf">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
