<div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <img src="img/donation-banner.png" class="img-responsive" style="margin: 0 auto;">
        </div>
    </div>
    <section class="donors">
        <div class="container">
            <h2>Faire un don</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="clear-fix"></div>
                    <div class="pay">
                        <div class="col-md-6" align="center">
                            <img src="img/paypal.png">
                        </div>
                        <div class="col-md-6" align="right">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="C68PB45HQF24W">
                                <input type="image" src="img/paynow.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" align="center">
                    <div class="bank">
                        <h2 style="text-transform: uppercase;"><span><img src="img/bank-1.svg"></span>Virement bancaire</h2>
                        <p>Beneficiary Bank
                            <br> Oversea-Chinese Banking Corporation Ltd
                            <br>
                            <br> Address of Beneficiary bank
                            <br> 65 Chulia Street #09-00, OCBC Centre,
                            <br> Singapore 049513
                        </p>
                        <br>
                        <div class="bank-details">
                            <p><span>Code Swift:</span>OCBCSGSG</p>
                            <p><span>Code Bancaire: </span>7339</p>
                            <p><span>Nom du titulaire: </span>Lycee Français Development Fund</p>
                            <p><span>Numéro du compte:  </span>591-546346-001</p>
                            <p><span>Adresse du bénéficiaire:</span>Lycée Français de Singapour, Fundraising, 3000 Ang Mo Kio Avenue 3,
                                <br> Singapore 569928</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" align="center">
                    <div class="bank">
                        <h2 style="text-transform: uppercase;"><span><img src="img/bank-2.png"></span>Par chèque</h2>
                        <img src="img/check.png" style="margin: 30px 0 63px;">
                        <div class="bank-details">
                            <p><span>Nom du titulaire: </span>Lycee Français Development Fund</p>
                            <p><span>Numéro du compte:  </span>591-546346-001</p>
                            <p><span>Adresse du bénéficiaire:</span>Lycée Français de Singapour, Fundraising, 3000 Ang Mo Kio Avenue 3,
                                <br> Singapore 569928</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-detail">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 style="text-transform: uppercase;">Code de Déontologie</h2>
                   <iframe src="https://www.slideshare.net/slideshow/embed_code/key/1MJw9X3ejKr8US" width="100%" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="max-width: 100%;margin-right:25px;" allowfullscreen> </iframe>
                </div>
                <div class="col-md-6" align="left">
                    <h2>CONTACT DETAILS</h2>
                    <p>Lycée Français de Singapour, <br> Fundraising, 3000 Ang Mo Kio Avenue 3, <br> Singapore 569928 
                        <br>Fax : (65) 6805 0199.
                    <br>
                    <div class="col-md-6 tel">
                        <img src="img/tel.png">
                        <br>
                        <p>+65 6805 0000.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="img/mail.png">
                        <br>
                        <p>donations@lfs.edu.sg</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
