<div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <img src="img/listing-banner.png" class="img-responsive" style="margin: 0 auto;">
        </div>
    </div>
    <section class="donors">
        <div class="container">
            <h2 style="text-transform: uppercase;">Nos Bienfaiteurs</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="donars#tab_default_1" data-toggle="tab" ng-click="setflag(1);getdonarlistbyIndividual();">Privés </a>
                                </li>
                                <li>
                                    <a href="donars#tab_default_2" data-toggle="tab" ng-click="setflag(2);getdonarlistbycorporate();">Entreprises</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="row tab-pane active" id="tab_default_1" ng-if="donortype == 'Individual Donors'">
                                    <div class="col-md-12" style="padding-bottom:20px;">
                                        <form class="form-inline pull-right" name="searchForm" ng-submit="search(searchForm,searchobj,'Individual')" id="ind" novalidate>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="rechercher par nom" name="searchtext" ng-model="searchobj.title" required>
                                            </div>
                                            <button type="submit" class="btn btn-web"><i class="glyphicon glyphicon-search" style="margin-right: 5px;"></i>rechercher</button>
                                        </form>
                                    </div>
                                    <div class="col-md-6 col-sm-6" dir-paginate="donor in Individual | itemsPerPage: pageSize track by $index" pagination-id="Individual_D" current-page="currentPage">
                                        <div class="wrap">
                                            <img ng-src="{{imageURL}}/{{donor.imageurl}}" ng-if="donor.imageurl == 'gold.png'">
                                            <img ng-src="{{imageURL}}/{{donor.imageurl}}" ng-if="donor.imageurl == 'silver.png'">
                                            <img ng-src="{{imageURL}}/{{donor.imageurl}}" ng-if="donor.imageurl == 'bronze.png'">
                                            <img ng-src="{{imageURL}}/{{donor.imageurl}}" ng-if="donor.imageurl == 'platinum.png'">
                                            <img ng-src="{{imageURL}}/{{donor.imageurl}}" ng-if="donor.imageurl == 'benefactor.png'" style="width:80px;left:40px;">
                                                <p>{{donor.preftitle}}</p>
                                        </div>
                                    </div>
                                    <!--ng-repeat end-->
                                </div>
                                <div class="row tab-pane active" id="tab_default_2" ng-if="donortype == 'Corporate Donors'">
                                    <div class="col-md-12" style="padding-bottom:20px;">
                                        <form class="form-inline pull-right" name="searchForm1" ng-submit="search(searchForm1,searchobj,'Corporate')" id="corp" novalidate>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Search by name" name="searchtext" ng-model="searchobj.title" required>
                                            </div>
                                            <button type="submit" class="btn btn-web"><i class="glyphicon glyphicon-search" style="margin-right: 5px;"></i>Search</button>
                                        </form>
                                    </div>
                                
                                        <div class="col-md-6 col-sm-6" dir-paginate="donor in corporatelist | itemsPerPage: pageSize1 track by $index" pagination-id="Corporate_D" current-page="currentPage1">
                                          <div class="wrap">
                                            <img ng-src="{{imageURL}}/{{donor.imageurl}}" ng-if="donor.imageurl == 'gold.png'">
                                            <img ng-src="{{imageURL}}/{{donor.imageurl}}" ng-if="donor.imageurl == 'silver.png'">
                                            <img ng-src="{{imageURL}}/{{donor.imageurl}}" ng-if="donor.imageurl == 'bronze.png'">
                                            <img ng-src="{{imageURL}}/{{donor.imageurl}}" ng-if="donor.imageurl == 'platinum.png'">
                                            <img ng-src="{{imageURL}}/{{donor.imageurl}}" ng-if="donor.imageurl == 'benefactor.png'">
                                            <p>{{donor.preftitle}}</p>
                                          </div>
                                        </div>
                                    <!-- ng-repeat end-->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</div>
<div class="container text-center" ng-if="donortype == 'Corporate Donors'">
    <div class="text-center">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="templates/dirPagination.tpl.html" pagination-id="Corporate_D"></dir-pagination-controls>
    </div>
</div>
<div class="container text-center" ng-if="donortype == 'Individual Donors'">
    <div class="text-center">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="templates/dirPagination.tpl.html" pagination-id="Individual_D"></dir-pagination-controls>
    </div>
</div>
