<div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Une structure d'éducation et de soutien personnalisé pour l'excellence d'apprentissage</h1>
        </div>
        <img src="img/banner.png" class="banner-img">
    </div>
    <section class="light-grey">
        <div class="container">
            <div class="row thumb-top">
                <div class="col-md-4 col-sm-12">
                    <div class="thumb blue" data-toggle="tooltip" data-placement="top" title="Hooray!">
                        <hr>
                        <h2>SOUTENIR L’EXCELLENCE ACADEMIQUE</h2>
                        <p>Soutenez le projet d’établissement du Lycée Français de Singapour dans la réalisation de projets de l’école et contribuez à l’excellence académique ! </p>
                    </div>
                    <div class="thumb-border"></div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="thumb gold">
                        <hr>
                        <h2>ACCOMPAGNER LE DEVELOPPEMENT DE L’INSTITUTION ET DE SON EVOLUTION</h2>
                        <p>Accompagnez les grands projets d’évolution du Lycée Français de Singapour tels que la croissance et l’aménagement du campus et écrivez l’histoire avec nous !</p>
                    </div>
                    <div class="thumb-border"></div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="thumb red">
                        <hr>
                        <h2>RENFORCER SON ROLE SOCIAL<br></h2>
                        <p>Aidez-nous à intégrer l’ensemble des élèves dans la communauté du LFS !</p>
                    </div>
                    <div class="thumb-border"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="axis-col">AXES <br> PHILANTHROPIQUE</h2>
                </div>
                <div class="col-md-8">
                      <h2 style="color:#6D6D6D;">
                        Conformément à nos objectifs, plusieurs enveloppes de financement sont à votre disposition pour votre contribution à travers le programme de votre choix
                      </h2>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div id="science_hover" class="learn_bg fl">
                <h4>Dans la vie, rien n'est à craindre, tout est à comprendre. Marie Curie</h4>
                <p>En transformant mystère en défi, la science ajoute une nouvelle dimension à la vie.
                    <br>
                    <br> Et une nouvelle dimension ouvre plusieurs chemins vers l’accomplissement de soi. Les sciences et les technologies ont aussi pour objectif de développer l'intérêt pour le progrès scientifique et technique. C’est pourquoi nos dispositifs d’éducation sont alignés à une démarche d'investigation qui développe la curiosité et la créativité.
                </p>
            </div>
            <div id="art_hover" class="network_bg fl">
                <h4>Ce n’est point dans l’objet que réside le sens des choses mais dans la démarche. Saint-Exupéry</h4>
                <p>Les arts occupent incontestablement une place singulière au cœur de la société contemporaine où le développement des médias bouleverse le rapport aux œuvres et à la création.
                    <br>
                    <br> Spectateurs, créateurs ou interprètes, tous nos élèves sont encouragés à développer une capacité de donner sens aux activités artistiques et d’en percevoir les enjeux humains, sociaux et économiques afin de s’ouvrir à autrui.</p>
            </div>
            <div id="lit_hover" class="achieve_bg fl">
                <h4>A quoi servent les livres s'ils ne ramènent pas vers la vie, s'ils ne parviennent pas à nous y faire boire avec plus d'avidité. Henry Miller</h4>
                <p>Au-delà d’une conception de la lecture et en plus de contribuer à l'acquisition de la maîtrise de la langue, les enjeux de la littérature engagent également une vision de l’élève.
                    <br>
                    <br> Nous sommes convaincus que la littérature ouvre l’esprit, sensibilise à l’humanité, aide « à voir avec le cœur » et se révèle indispensable à toute forme de vie politique responsable dans le contexte actuel de la mondialisation. </p>
            </div>
            <div id="sport_hover" class="achieve_bg fl">
                <h4>Le sport va chercher la peur pour la dominer, la fatigue pour en triompher, la difficulté pour la vaincre. 
Pierre de Coubertin
</h4>
                <p>L'Education physique et sportive permet aux élèves de développer le sens de l'effort, le goût du risque et de la persévérance. En mettant en actes des valeurs morales et sociales fondamentales comme le respect des règles collectives ou le respect de soi-même et d'autrui, elles constituent un contexte favorable pour l'éducation à la responsabilité et à l'autonomie. 
                    <br>
                    <br> C’est pourquoi nos équipes sportives continuent de rayonner l’image de notre institution dans des environnements et pays variés!</p>
            </div>
            <div id="community_hover" class="achieve_bg fl">
                <h4>La vraie générosité envers l'avenir consiste à tout donner au présent. Albert Camus</h4>
                <p>Chaque année, nous accueillons plusieurs enfants de familles en difficulté financière au Lycée qui sont parfois subventionnées par l'Etat Français principalement pour leurs frais d'écolage. Nous réservons une enveloppe sociale aux élèves défavorisés afin de les aider à poursuivre leurs scolarités et participer aux différents projets pédagogiques supplémentaires tels que les voyages sportifs.
                    <br>
                    <br> Respectant pleinement notre politique d’équité des chances, notre enveloppe sociale est la manifestation de notre volonté d’offrir l’excellence pour tous.</p>
            </div>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-12 tab-area tabs-hover">
                    <span class="tab-link" tabindex="1" id="science"><img src="img/science.png"><h2>SCIENCE</h2></span>
                    <span class="tab-link" tabindex="2" id="art"><img src="img/art-1.png"> <h2>ART</h2></span>
                    <span class="tab-link" tabindex="3" id="lit"><img src="img/lite.png"> <h2>LITTERATURE</h2></span>
                    <span class="tab-link" tabindex="4" id="sport"><img src="img/sport.png"> <h2>SPORT</h2></span>
                    <span class="tab-link" tabindex="5" id="community"><img src="img/community.png"> <h2>COMMUNAUTE</h2></span>
                </div>
            </div>
    </section>
    <section class="programs">
        <div class="container first">
            <div class="row">
                <div class="col-md-4">
                    <h2>PROGRAMMES D’ENGAGEMENT</h2>
                </div>
                <div class="col-md-8">
                    <h2>Engagez-vous aujourd'hui en faveur de l'éducation par le biais d'un de nos programmes.</h2>
                </div>
            </div>
        </div>
        <hr>
        <div class="container second">
            <div class="row">
                <div class="col-md-4">
                    <h2>DONATIONS DIRECTES</h2>
                </div>
                <div class="col-md-8">
                    <h2>Donnez simplement par chèque,<br>par transfert bancaire ou en ligne !</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>PARRAINAGE D'ARCHITECTURE</h2>
                </div>
                <div class="col-md-8">
                    <h2>Nommez un élément architectural du campus en construction ou déjà sur place !</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>SPONSORING</h2>
                </div>
                <div class="col-md-8">
                    <h2>Sponsorisez nos évènements et nos équipes sportives et associez-vous aux valeurs de notre institution!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>DONS JUMELES</h2>
                </div>
                <div class="col-md-8">
                    <h2>Doublez les dons faits par vos employés au Lycée Français de Singapour !</h2>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container investment-graph">
            <h2>Nous allons étudier toutes les possibilités avec vous pour un retour sur investissement </h2>
            <img src="img/investment-graph.svg">
        </div>
    </section>
    <section class="fundrising">
        <div class="container">
            <h3>CODE DE DEONTOLOGIE DU LFS DETHIQUE POUR LA COLLECTE DE FONDS</h3>
            <div class="funding-border">
                <div class="funding-box">
                    <img src="img/funding-font.svg">
                    <h1>L’Honnêteté, Le Respect, L’Intégrité</h1>
                    <h2>S’assure de la  confiance du publique</h2>
                    <h1>L’Empathie</h1>
                    <h2>Se soucier de l’intérêt et du bien-être des autres</h2>
                    <h1>La Transparence</h1>
                    <h2>Informer clairement et précisément</h2>
                </div>
            </div>
            <button class="btn btn-primary btn-outline btn-xl" href="#" role="button">Télécharger Code de Déontologie</button>
        </div>
    </section>
    
</div>
    <script type="text/javascript">

      jQuery(document).ready(function(cash) { 
          $("#science_hover").hide();
          $("#art_hover").hide();
          $("#lit_hover").hide();
          $("#sport_hover").hide();
          $("#community_hover").hide();
       
       $( "#science" ).mouseover(function() {

          $("#science_hover").show();
          $("#art_hover").hide();
          $("#lit_hover").hide();
          $("#sport_hover").hide();
          $("#community_hover").hide();


       });

       $( "#community" ).mouseover(function() {

          $("#science_hover").hide();
          $("#art_hover").hide();
          $("#lit_hover").hide();
          $("#sport_hover").hide();
          $("#community_hover").show();


       });
       $( "#art").mouseover(function() {

          $("#science_hover").hide();
          $("#art_hover").show();
          $("#lit_hover").hide();
          $("#sport_hover").hide();
          $("#community_hover").hide();


       });
       $( "#lit" ).mouseover(function() {

          $("#science_hover").hide();
          $("#art_hover").hide();
          $("#lit_hover").show();
          $("#sport_hover").hide();
          $("#community_hover").hide();


       });
       $( "#sport" ).mouseover(function() {

          $("#science_hover").hide();
          $("#art_hover").hide();
          $("#lit_hover").hide();
          $("#sport_hover").show();
          $("#community_hover").hide();


       });
       
       
         });
    </script>