<div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <img src="img/download-banner.png" class="img-responsive" style="margin: 0 auto;">
      </div>
    </div>
    <section class="donors">
      <div class="container">
        <h2>DOWNLOAD</h2>
        <div class="row bank" style="margin: 45px 0px 20px;">
            <div class="col-md-6" align="center">
              <iframe src="https://www.slideshare.net/slideshow/embed_code/key/y2jDVhgrNufF4v" width="100%" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="max-width: 100%;margin-right:25px;" allowfullscreen> </iframe> 
            </div>   
            <div class="col-md-6" align="left">
              <h2>Le Lycée Français de Singapour Brochure (Fundraising)</h2> 
              <div class="top-150">
                <img src="img/pdf.png">
                <a class="btn btn-danger btn-lg download-now" href="{{pdfURL}}/Charte_du_fundraising_LFS_FR.pdf" target="_blank" download="Charte_du_fundraising_LFS_FR.pdf">Download PDF</a>
              </div>  
            </div> 
        </div>
        <div class="row bank" style="margin: 10px 0px;">
            <div class="col-md-6" align="center">
              <iframe src="https://www.slideshare.net/slideshow/embed_code/key/y2jDVhgrNufF4v" width="100%" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="max-width: 100%;margin-right:25px;" allowfullscreen> </iframe> 
            </div>   
            <div class="col-md-6" align="left">
              <h2>Le Lycée Français de Singapour Brochure (Fundraising)</h2> 
              <div class="top-150">
                <img src="img/pdf.png">
                <a class="btn btn-danger btn-lg download-now" href="{{pdfURL}}/Charte_du_fundraising_LFS_FR.pdf" target="_blank" download="Charte_du_fundraising_LFS_FR.pdf">Download PDF</a>
              </div>  
            </div> 
        </div>
      </div>
    </section>

</div>   