<div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <img src="img/donation-banner.png" class="img-responsive" style="margin: 0 auto;">
        </div>
    </div>
    <section class="donors">
        <div class="container">
            <h2>MAKE DONATION</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="clear-fix"></div>
                    <div class="pay">
                        <div class="col-md-6" align="center">
                            <img src="img/paypal.png">
                        </div>
                        <div class="col-md-6" align="right">
                            <a class="btn btn-primary btn-lg pay-now" href="donation.html">Pay now with Credit Card</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" align="center">
                    <div class="bank">
                        <h2><span><img src="img/bank-1.svg"></span> DONATION BY BANK TRANSFER</h2>
                        <p>Beneficiary Bank
                            <br> Oversea-Chinese Banking Corporation Ltd
                            <br>
                            <br> Address of Beneficiary bank
                            <br> 65 Chulia Street #09-00, OCBC Centre,
                            <br> Singapore 049513
                        </p>
                        <br>
                        <div class="bank-details">
                            <p><span>Swift Code:</span>OCBCSGSG</p>
                            <p><span>Bank Code: </span>7339</p>
                            <p><span>Holder’s name: </span>Lycee Français Development Fund</p>
                            <p><span>Account number:  </span>591-546346-001</p>
                            <p><span>Address of the beneficiary:</span>3000 Ang Mo Kio Avenue 3,
                                <br> Singapore 569928</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" align="center">
                    <div class="bank">
                        <h2><span><img src="img/bank-2.png"></span>DONATION BY CHEQUE</h2>
                        <img src="img/check.png" style="margin: 30px 0 63px;">
                        <div class="bank-details">
                            <p><span>Holder’s name: </span>Lycee Français Development Fund</p>
                            <p><span>Account number:  </span>591-546346-001</p>
                            <p><span>Address of the beneficiary:</span>3000 Ang Mo Kio Avenue 3,
                                <br> Singapore 569928</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-detail">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>CODE OF ETHICAL PRINCIPLES AND STANDARDS</h2>
                    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/y2jDVhgrNufF4v" width="100%" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="max-width: 100%;margin-right:25px;" allowfullscreen> </iframe>
                </div>
                <div class="col-md-6" align="left">
                    <h2>CONTACT DETAILS</h2>
                    <p>Establishment agreement with the
                        <br> French Ministry of Education
                        <br> 3000 Ang Mo Kio Avenue 3,
                        <br> Singapore 569928</p>
                    <br>
                    <div class="col-md-6 tel">
                        <img src="img/tel.png">
                        <br>
                        <p>+65 6805 0000.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="img/mail.png">
                        <br>
                        <p>donations@lfs.edu.sg</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
